@import "tailwindcss";
body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #020617;
}
/* Modern Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.18);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.35);
}